<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="container">
                        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <iframe width="465" height="265"
                            src="https://www.youtube.com/embed/8Uh6S_LC2sk?autoplay=1">
                            </iframe>
                            <%= form_for :session, url: login_path do |f| %>
                            <div class="panel panel-default" >
                                <div class="panel-heading">
                                    <div class="panel-title">Bem vindo! Realize o Login </div>
                                    <!--<div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Esqueceu a senha?</a></div> -->
                                </div>
                                <div style="padding-top:30px" class="panel-body" >
                                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                                        <div style="margin-bottom: 25px" class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                            <input class="form-control" placeholder="E-mail" type="text" name="session[email]" id="session_email">
                                        </div>
                                        <div style="margin-bottom: 25px" class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                            <input class="form-control" placeholder="Senha" type="password" name="session[password]" id="session_password" aria-describedby="basic-addon1" required minlength="6" maxlength="15" autocomplete="off">
                                        </div>
                                        <hr style="border-top: 1px solid#888;">
                                        <input type="submit" name="commit" value="Entrar" class="btn btn-lg btn-primary btn-block">
                                        <div class="form-group">
                                            <div class="col-md-12 control">
                                                Não possui conta cadastrada? 
                                                <a href="<%= new_user_path %>">
                                                Cadastre Agora!</a>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <%end%>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
</div>

