<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá! O livro <%= @book.title %> foi agendado.</h1>
    <%if @schedule.start_date%>
      <h4>Você deve comparecer a biblioteca para pegar seu livro até <%=@schedule.start_date%> !<p></p> 
     </h4>
    <%else%>
      <h4>Aguarde o email de confirmação de data para o agendamento!<p></p> 
      </h4>
    <%end%>
  </body>
</html>