  <% @user.errors.each do |attr,message| %>
  <div style="padding-top: 50px;">
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
      </button>
      <%= message %>.
    </div>
  </div>
  <%end%>
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Usuários</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md- col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Atualizar Cadastro de Usuário</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <%= form_for @user, html:{class:"form-horizontal form-label-left input_mask"} do | f | %>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :name,"Nome Completo*"%>
                <%= f.text_field :name, class: 'form-control', placeholder: 'Nome e Sobrenome', minlength: '3', maxlength: '50', required: ''%>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12 form-group ">
                <%= f.label :dataNascimento,"Data Nascimento*"%>
                <%= f.date_field :dataNascimento, class: 'form-control', required: ''%>
              </div>
              <div class="col-md-3 col-sm-2 col-xs-12 form-group ">
                <%= f.label :cpf,"CPF*"%>
                <%= f.telephone_field :cpf, class: 'form-control', placeholder: 'Somente números', minlength: '11', maxlength: '11', required: ''%>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-2 col-xs-12 form-group ">
                <%= f.label :matricula,"Matrícula*"%>
                <%= f.text_field :matricula, class: 'form-control', placeholder: 'Somente números', minlength: '3', maxlength: '50', required: ''%>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-12 form-group ">
                <%= f.label :telefone,"Telefone*"%>
                <%= f.telephone_field :telefone, class: 'form-control',placeholder: 'DDD + número', minlength: '11', maxlength: '11', required: ''%>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :email,"Email*"%>
                <%= f.email_field :email, class: 'form-control', required: '', disabled: true%>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12 form-group ">
                <%= f.label :cep,"CEP*"%>
                <%= f.telephone_field :cep, class: 'form-control',minlength: '8', maxlength: '8', required: ''%>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :endereco,"Endereço*"%>
                <%= f.text_field :endereco, class: 'form-control',minlength: '3', maxlength: '50', required: ''%>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
                <%= f.label :numero,"Número*"%>
                <%= f.number_field :numero, class: 'form-control',placeholder: 'Somente números', required: ''%>
              </div>
              <div class="col-md-5 col-sm-5 col-xs-12 form-group ">
                <%= f.label :complemento,"Complemento*"%>
                <%= f.text_field :complemento, class: 'form-control',maxlength: '20', required: ''%>
              </div>
            </div>
            <div class="ln_solid"></div>
            <div class="pull-right">
              <div class="btn-block">
                <%= f.submit "Atualizar", class: 'btn btn-success'%>
              </div>
            </div>
            <% end%>

            <div class="x_title">
              <h2>Alterar Senha</h2>
              <div class="clearfix"></div>
            </div>

            <%= form_for @user, url: alterar_senha_path, html: { autocomplete: 'off' } do |f|%>
            <div class="row">
             <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
              <%= f.label :older_password,"Senha Antiga"%>
              <%= f.password_field :older_password, class: 'form-control input-md', placeholder: 'Senha antiga', minlength: '6'%>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
              <%= f.label :password,"Nova Senha*"%>
              <%= f.password_field :password, class: 'form-control',minlength: '6', maxlength: '15', required: ''%>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
              <%= f.label :password_confirmation,"Confirme a nova Senha*"%>
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off' , placeholder: 'Confirmação de senha', required: '', minlength: '6', maxlength: '15'%>
            </div>
          </div>
          <hr />
          <div id="actions" class="row">
            <div class="pull-right">

              <div class="col-md-12">
                <%= link_to '<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Voltar</a>'.html_safe, :back, class: "btn btn-md btn-default" %>
                
                <%= f.submit "Alterar Senha", class: 'btn btn-success'%>
              </div>
            </div>
          </div>
          <br> </br>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</div>
