<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Usuários</h3>
        </div>
    </div>
    <%= form_tag users_post_path, method: :post do %>
    <div class="title_right">
        <div class="col-md-4 col-sm-12 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <%= text_field_tag :users_search, @users_search, class: "form-control input-md", placeholder: "Nome, CPF, Matrícula, Email..."%>
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span>
            </div>
        </div>
    </div>
    <%end%>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md- col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Consulta de usuários</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table width="100%" class="table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                        <thead>
                            <tr>
                                <th width="25%">Nome</th>
                                <th>CPF</th>
                                <th>Matrícula</th>
                                <th>Email</th>
                                <th class="td-actions"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @users.each do |user| %>
                                <tr>
                                    <td><%= user.name %></td>
                                    <td><%= user.cpf %></td>
                                    <td><%= user.matricula %></td>
                                    <td><%= user.email %></td>
                                    <td><a href="<%= user_path user%>" class="btn btn-sm btn-primary"%><i class="fa fa-eye" aria-hidden="true"></i> Ver</a>
                                        <% if is_admin? %>
                                            <a href="<%= delete_user_path user %>" class="btn btn-sm btn-danger", onclick="return confirm('Você tem certeza disso?');"><i class="fa fa-trash-o" aria-hidden="true"></i> Remover</a>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pull-right">
    <%= link_to '<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Voltar</a>'.html_safe, :back, class: "btn btn-md btn-default" %>
</div>
<br/>
<br/>
</div>