  <% @user.errors.each do |attr,message| %>
  <div style="padding-top: 50px;">
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
      </button>
      <%= message %>.
  </div>
</div>
<%end%>
<div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Usuários</h3>
    </div>

</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md- col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Perfil de Usuário</h2>
      <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <br />
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
        <p><strong>Nome</strong></p>
        <p><%= @user.name%></p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
        <p><strong>Data Nascimento</strong></p>
        <p><%= @user.dataNascimento%></p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
        <p><strong>CPF</strong></p>
        <p><%= @user.cpf%></p>
    </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
    <p><strong>Matrícula</strong></p>
    <p><%= @user.matricula%></p>
</div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
    <p><strong>Telefone</strong></p>
    <p><%= @user.telefone%></p>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 form-group ">
    <p><strong>Email</strong></p>
    <p><%= @user.email%></p>
</div>
</div>
<hr />
<div class="row">
   <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
      <p><strong>CEP</strong></p>
      <p><%= @user.cep%></p>
  </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
      <p><strong>Endereço</strong></p>
      <p><%= @user.endereco%></p>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
      <p><strong>Número</strong></p>
      <p><%= @user.numero%></p>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
      <p><strong>Complemento</strong></p>
      <p><%= @user.complemento%></p>
  </div>
</div>
</div>
</div>
</div>
</div>
<div id="actions" class="row">
  <div class="pull-right">
    <div class="col-md-12">
      <%= link_to '<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Voltar</a>'.html_safe, :back, class: "btn btn-sm btn-default" %>
          <%if current_user == @user%>
          <a href="<%=edit_user_path @user %>" class="btn btn-sm btn-success"><i class="fa fa-pencil" aria-hidden="true" aria-hidden="true"></i> Editar</a>
          <%end%>
          <a href="<%= delete_user_path @user %>" class="btn btn-sm btn-danger", onclick="return confirm('Você tem certeza disso?');"><i class="fa fa-trash-o" aria-hidden="true"></i> Remover</a>
  </div>
</div>
</div>
</div>

