    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Meus Agendamentos</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md- col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <ul class="nav navbar-right panel_toolbox">
                                <h6 class="pull-right"><span class = "badge"><%=@schedules.count%></span></h6>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="dataTable_wrapper">
                        <table width="100%" class="table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Data Limite Retirada</th>
                                    <th>Data Devolução (provável)</th>
                                    <th>Código de Barras (Livro)</th>
                                    <th>Título (Livro)</th>
                                    <th>Editora (Livro)</th>
                                    <th class="td-actions"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @schedules.each do |schedule| %>
                                <tr>
                                    <% if schedule.start_date == nil%>
                                        <td><i><strong>Aguarde Data</strong></i></td>
                                    <%else%>
                                        <td><%= schedule.start_date.strftime("%d/%m/%Y às %H:%M") %></td>
                                    <%end%>
                                    <% if schedule.end_date == nil%>
                                        <td><i><strong>Aguarde Data</strong></i></td>
                                    <%else%>
                                        <td><%= schedule.end_date.strftime("%d/%m/%Y às %H:%M") %></td>
                                    <%end%>
                                    <td><%= schedule.book.barcode%></td>
                                    <td><%= schedule.book.title%></td>
                                    <td><%= schedule.book.publisher%></td>
                                    <td width="10"><a href="<%= delete_schedule_path schedule%>" class="btn btn-sm btn-primary"%><i class="fa fa-eraser" aria-hidden="true"></i> Cancelar</a></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <%= link_to '<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Voltar</a>'.html_safe, :back, class: "btn btn-md btn-default" %>
    </div>
    <br/>
    <br/>
</div>
