<!-- page content -->
    <!-- top tiles -->
    <br />
<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <div class="col-md-11 col-sm-4 col-xs-12" style="padding: 0 0 0 0;">
                    <h4>Empréstimos Finalizados</h4>
                </div>
                <div class="col-md-1 col-sm-4 col-xs-12" style="padding: 0 0 0 0;">
                    <h6 class="pull-right"><span class = "badge"><%=@loans_finish.count%></span></h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="dataTable_wrapper">
                <table width="100%" class="table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                    <thead>
                        <tr>
                            <th width="25%">Livro</th>
                            <th>Empréstimo</th>
                            <th>Devolução</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @loans_finish.last(10).each do |loan| %>
                        <tr >
                            <td><%= loan.book.title %></td>
                            <td><%= loan.loan_date %></td>
                            <td><%= loan.return_date %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <div class="col-md-11 col-sm-4 col-xs-12" style="padding: 0 0 0 0;">
                    <h4>
                        Emprestados
                    </h4>
                </div>
                <div class="col-md-1 col-sm-4 col-xs-12" style="padding: 0 0 0 0;">
                    <h6 class="pull-right"><span class = "badge"><%=@loans_open.count%></span></h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="dataTable_wrapper">
                <table width="100%" class="table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                    <thead>
                        <tr>
                            <th width="25%">Livro</th>
                            <th>Empréstimo</th>
                            <th>Devolução</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @loans_open.last(10).each do |loan| %>
                        <tr >
                            <td><%= loan.book.title %></td>
                            <td><%= loan.loan_date %></td>
                            <td><%= loan.return_date %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <div class="col-md-11 col-sm-4 col-xs-12" style="padding: 0 0 0 0;">
                    <h4>
                        Emprestimos atrasados
                    </h4>
                </div>
                <div class="col-md-1 col-sm-4 col-xs-12" style="padding: 0 0 0 0;">
                    <h6 class="pull-right"><span class = "badge"><%=@loans_late.count%></span></h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="dataTable_wrapper">
                <table width="100%" class="table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                    <thead>
                        <tr>
                            <th width="25%">Livro</th>
                            <th>Empréstimo</th>
                            <th>Devolução</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @loans_late.last(10).each do |loan| %>
                        <tr >
                            <td><%= loan.book.title %></td>
                            <td><%= loan.loan_date %></td>
                            <td><%= loan.return_date %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<!-- footer content -->