<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Livros</h3>
        </div>
    </div>
    <%= form_tag books_post_path, method: :post do %>
    <div class="title_right">
        <div class="col-md-4 col-sm-12 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <%= text_field_tag :book_search, @book_search, class: "form-control input-md", placeholder: "Título, Autor, Editora..."%>
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span>
            </div>
        </div>
    </div>
    <%end%>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md- col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Consulta de Livro</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <h6 class="pull-right"><span class = "badge"><%=@books.count%></span></h6>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <table width="100%" class="table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Disponibilidade</th>
                            <th width="25%">Título</th>
                            <th>Primeiro Autor</th>
                            <th>Editora</th>
                            <th>Ano</th>
                            <th>Edição</th>
                            <th class="td-actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @books.each do |book| %>
                        <tr>
                            <td><%if !book.available ||  book.schedules.size > 0%>
                                <i class="fa fa-times-circle" aria-hidden="true" style="color:red;"></i>
                            <%else%>
                                <i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>
                            <%end%></td>
                            <td><%= book.title %></td>
                            <td><%= book.author_one %></td>
                            <td><%= book.publisher %></td>
                            <td><%= book.year %></td>
                            <td><%= book.edition %></td>
                            <td><a href="<%= book_path book%>" class="btn btn-sm btn-primary"%><i class="fa fa-eye" aria-hidden="true"></i> Ver</a>
                                <% if is_admin? %>
                                <a href="<%=edit_book_path book %>" class="btn btn-sm btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
                                <a href="<%= delete_book_path book %>" class="btn btn-sm btn-danger", onclick="return confirm('Você tem certeza disso?');"><i class="fa fa-trash-o" aria-hidden="true"></i> Remover</a>
                            </td>
                            <% end %>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="pull-right">
    <% if is_admin? %>
    <a href="<%= new_book_path %>" class="btn btn-success"><i class="fa fa-plus-square" aria-hidden="true"></i> Cadastrar livro</a>
    <% end %>
</div>
<br/>
<br/>
</div>