<% if is_admin? %>
  <% @book.errors.each do |attr,message| %>
    <div style="padding-top: 50px;">
      <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <%= message %>.
      </div>
    </div>
  <%end%>
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Livros</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md- col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Cadastro de Livros</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <%= form_for @book, url: {action: "create"}, html: {class: "form-horizontal form-label-left input_mask"} do |f| %>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :title,"Título*"%>
                <%= f.text_field :title, class: 'form-control', placeholder: 'Título do Livro',minlength: '1', maxlength: '100', required: ''%>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :subtitle,"Subtítulo"%>
                <%= f.text_field :subtitle, class: 'form-control', placeholder: 'Subtítulo do Livro', maxlength: '100'%>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :author_one,"Primeiro Autor*"%>
                <%= f.text_field :author_one, class: 'form-control', placeholder: 'Primeiro Autor', minlength: '3', maxlength: '100', required: ''%>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :author_two,"Segundo autor"%>
                <%= f.text_field :author_two, class: 'form-control', placeholder: 'Segundo Autor', maxlength: '100'%>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :author_three,"Terceiro Autor"%>
                <%= f.text_field :author_three, class: 'form-control', placeholder: 'Terceiro Autor', maxlength: '100'%>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :publisher,"Editora*"%>
                <%= f.text_field :publisher, class: 'form-control', placeholder: 'Editora',minlength: '2', maxlength: '20', required: ''%>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :year,"Ano*"%>
                <%= select_year Time.zone.now.year, { :start_year => Time.zone.now.year+1, 
                                            :end_year => Time.zone.now.year - 500, 
                                            :field_name => :year, 
                                            :prefix => :book}, 
                                            class:"form-control", required: true%>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :city, "Local*"%>
                <%= f.text_field :city, class: 'form-control', placeholder: 'Local', minlength: '3', maxlength: '20', required: ''%>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :edition,"Edição*"%>
                <%= f.number_field :edition, class: 'form-control',minlength: '1', maxlength: '4', placeholder: 'Edição', minlength: '1', maxlength: '3',  required: ''%>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :volume,"Volume"%>
                <%= f.number_field :volume, class: 'form-control', placeholder: 'Volume', maxlength: '3'%>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :pages,"Páginas*"%>
                <%= f.number_field :pages, class: 'form-control', placeholder: 'Páginas', minlength: '1', maxlength: '5', required: ''%>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :ISBN, "ISBN*"%>
                <%= f.text_field :ISBN, class: 'form-control', placeholder: 'ISBN', minlength: '1', maxlength: '13', required: ''%>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                <%= f.label :barcode, "Código de Barras*"%>
                <%= f.text_field :barcode, class: 'form-control', placeholder: 'Código de Barras', minlength: '1', maxlength: '15', required: ''%>
              </div>
            </div>
            <div class="ln_solid"></div>
            <div class="pull-right">
              <div class="btn-block">
                <%= link_to '<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Voltar</a>'.html_safe, :back, class: "btn btn-md btn-default" %>
                <button class="btn btn-primary" type="reset">Resetar</button>
                <%= f.submit "Enviar", class: 'btn btn-success'%>
              </div>
            </div>
            <% end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%else%>
    <div class="title_left">
      <h3>Você não pode acessar essa página!</h3>
    </div>
    <%= link_to '<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Voltar</a>'.html_safe, :back, class: "btn btn-md btn-default" %>
  <%end%>
