<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Livros</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md- col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Consulta de Livro</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <p><strong>Disponibilidade</strong></p>
                            <p>
                                <%if !@book.available || @book.schedules.size > 0%>
                                <i class="fa fa-times-circle" aria-hidden="true" style="color:red;"></i>
                                <%else %>
                                <i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>
                                <%end%>
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <p><strong>Título</strong></p>
                            <p><%= @book.title%></p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <p><strong>Subtítulo</strong></p>
                            <p><%= @book.subtitle%></p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <p><strong>Primeiro Autor</strong></p>
                            <p><%= @book.author_one%></p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <p><strong>Segundo Autor</strong></p>
                            <p><%= @book.author_two%></p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <p><strong>Terceiro Autor</strong></p>
                            <p><%= @book.author_three%></p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <p><strong>Editora</strong></p>
                            <p><%= @book.publisher%></p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <p><strong>Ano</strong></p>
                            <p><%= @book.year%></p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <p><strong>Local</strong></p>
                            <p><%= @book.city%></p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <p><strong>Edição</strong></p>
                            <p><%= @book.edition%></p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <p><strong>Volume</strong></p>
                            <p><%= @book.volume%></p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <p><strong>Páginas</strong></p>
                            <p><%= @book.pages%></p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <p><strong>ISBN</strong></p>
                            <p><%= @book.ISBN%></p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <p><strong>Código de Barras</strong></p>
                            <p><%= @book.barcode%></p>
                        </div>
                    </div>
                </div>
                <div id="actions" class="row">
                    <div class="pull-right">
                        <div class="col-md-12">
                            <%= link_to '<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Voltar</a>'.html_safe, :back, class: "btn btn-sm btn-default" %>
                            <% if is_admin? %>
                            <a href="<%=edit_book_path @book %>" class="btn btn-sm btn-success"><i class="fa fa-pencil" aria-hidden="true" aria-hidden="true"></i> Editar</a>
                            <a href="<%=delete_book_path @book %>" class="btn btn-sm btn-danger", onclick="return confirm('Você tem certeza disso?');"><i class="fa fa-trash-o" aria-hidden="true"></i> Remover</a>
                            <% else %>
                            <%unless user_already_scheduled_book?(@book) || current_user_loaned?(@book)%>
                            <a href="<%=schedules_create_path @book%>" class="btn btn-sm btn-primary"><i class="fa fa-calendar" aria-hidden="true"></i> Agendar Empréstimo</a>
                            <%else%>
                            <a href="<%=schedules_create_path @book%>" class="btn btn-sm btn-default disabled" disabled="true"><i class="fa fa-calendar" aria-hidden="true"></i> Agendar Empréstimo</a>
                            <%end%>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>Próximo Agendamento para este livro</h2>
        <ul class="nav navbar-right panel_toolbox">
            <h6 class="pull-right"><span class = "badge" style="color: white;">Total de Agendamentos: <%=@schedules.count%></span></h6>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="dataTable_wrapper">
        <table width="100%" class="table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
            <thead>
                <tr>
                    <th width="50%">Data Início (provável)</th>
                    <th width="50%">Data Devolução (provável)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% @schedules.limit(1).each do |schedule| %>
                    <td><%= schedule.start_date %></td>
                    <td><%= schedule.end_date %></td>
                    <%end%>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>