<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Empréstimos</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Empréstimos em aberto</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <h6 class="pull-right"><span class = "badge"><%=@open_loans.count%></span></h6>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <% if !@open_loans.empty? %>
                <div class="dataTable_wrapper">
                    <table width="100%" class="table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Código (Livro)</th>
                                <th>Livro</th>
                                <th>Data de Empréstimo</th>
                                <th>Devolver até</th>
                                <th>Data da devolução</th>
                                <% if is_admin? %>
                                <th>Matrícula do Aluno</th>
                                <% end %>
                            </tr>
                        </thead>
                        <tbody>
                            <% @open_loans.each do |loan| %>
                            <tr>
                                <td><%= loan.book.barcode %></td>
                                <td><%= loan.book.title %></td>
                                <td><%= loan.loan_date %></td>
                                <td><%= loan.return_date %></td>
                                <td><%= loan.real_return_date %></td>
                                <% if is_admin? %>
                                <td><%= loan.user.matricula %></td>
                                <% end %>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <%else%>
                <strong> Não tem empréstimos em aberto. </strong>
                <%end%>
                <br>
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Empréstimos Encerrados</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <h6 class="pull-right"><span class = "badge"><%=@close_loans.count%></span></h6>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <% if !@close_loans.empty? %>
                <div class="dataTable_wrapper">
                    <table width="100%" class="table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                        <thead>
                            <tr>
                                <th width="25%">Livro</th>
                                <th>Data de Empréstimo</th>
                                <th>Devolver até</th>
                                <th>Data da devolução</th>
                                <% if is_admin? %>
                                <th>Matrícula do Aluno</th>
                                <% end %>
                            </tr>
                        </thead>
                        <tbody>
                            <% @close_loans.each do |loan| %>
                            <tr>
                                <td><%= loan.book.title %></td>
                                <td><%= loan.loan_date %></td>
                                <td><%= loan.return_date %></td>
                                <td><%= loan.real_return_date %></td>
                                <% if is_admin? %>
                                <td><%= loan.user.matricula %></td>
                                <% end %>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <%else%>
                <strong> Não tem empréstimos em fechados.</strong>
                <%end%>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="pull-right">
    <%= link_to '<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Voltar</a>'.html_safe, :back, class: "btn btn-md btn-default" %>
</div>
<br/>
<br/>
</div>