// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.img-logo{
    width: auto;
    height: 59px;
    margin-left: 25px;
}